{{#each this}}
<div class="card-wrapper">
<ul class="card-list">
    <li class="card-item">
        <h3>Capital:</h3>
        <p class="card-item_text"> {{capital}}</p>
    </li>
    <li class="card-item">
        <h3>Population:</h3>
        <p class="card-item_text"> {{population}} people</p>
    </li>
    <li class="card-item">
        <h3>Country code:</h3>
        <p class="card-item_text"> {{numericCode}}</p>
    </li>
    <li class="card-item">
        <h3>Area:</h3>
        <p class="card-item_text"> {{area}} km</p>
    </li>
    {{!-- <li class="card-item">Time:
        <p class="card-item_text"> {{timezones}}</p>
    </li> --}}
    <li class="card-item">
        <h3>Phone code:</h3>
        <p class="card-item_text"> +{{callingCodes}}</p>
    </li>
    <li class="card-item">
        <h2 class="card-second-title">Language:</h2>
        {{#each languages}}
        <p class="card-item_text">{{name}}</p>
        {{/each}}
    </li>
        
    </li>
</ul>
    <div class="image-wrapper">
        <h1 class="card-title">{{name}}</h1>
        <img class="card-img" src="{{flag}}" alt="{{flag}}"/>
    </div>
</div>
{{/each}}