{{#each this}}
<div class="card-wrapper">
    <h1 class="card-title">{{name}}</h1>
    <p class="card-item">Capital: {{capital}}</p>
    <p class="card-item">Population: {{population}}</p>
    <p class="card-item">Currency: {{currencies.name}}</p>1
     <p class="card-item">Currency: {{currencies.name}}</p>
    <h class="card-item">Language: {{languages.symbol}}</h>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
    <img src="{{flag}}" alt="{{flag}}" class="card-img" />
</div>
{{/each}}